---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";

const currentPath = Astro.url.pathname;
---

<header>
  {
    currentPath === "/" ? (
      <h1 class="site-title">{SITE_TITLE}</h1>
    ) : (
      <p class="site-title">{SITE_TITLE}</p>
    )
  }
  <nav>
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
  </nav>
</header>
<style>
  header {
    margin: 0em 0 2em;
  }
  .site-title {
    font-weight: bold;
    font-size: 2rem;
    margin: 0.5em 0;
  }
</style>
